@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --travel-form-height: 100vh;
    --travel-form-width: 100vw;

    --hero-height: 100vh;
    --hero-width: 45vw;

    --main-height: var(--hero-height);
    --main-width: calc(100vw - var(--hero-width));

    --logo-height: 12vh;
    --logo-width: var(--hero-width);

    --logo-image-height: 10vh;

    --main-container-height: 35vh;
    --main-container-width: 80vw;

    --form-container-height: 55vh;
    --form-container-width: 100vw;

    --form-input-width: 18vw;
    ;
}

* {
    margin-top: 0;
    margin-left: 0;

}



body {
    background-color: black;
}


.travel-form {
    height: var(--travel-form-height);
    width: var(--travel-form-width);
    display: flex;


}

.hero {
    height: var(--hero-height);
    width: var(--hero-width);

    background-image: url(/assets/nyc.jpeg);
    background-size: cover;





}

.logo {
    height: var(--logo-height);
    width: var(--logo-width);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    position: relative;
    top: 22vh;


    background-color: rgba(0, 0, 0, .4);

}

.logo-image {
    height: var(--logo-image-height);
    width: auto;
}

.logo-text {
    color: white;
    font-size: 40px;
    margin-bottom: 0;
    font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
    color: lightgreen;

}


.main-section {
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    gap: 3%;
    padding-left: 2%;
    padding-right: 2%;

}

.main-container {
    height: var(--main-container-height);
    width: 85vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.main-container h2 {
    color: white;
    font-size: 28px;
}

.main-container p {
    color: white;
    font-size: 22px;
    ;
}


.form-container {
    height: var(--form-container-height);
    width: var(--form-container-width);

}

.form {
    background-color: black;
    color: white;
    height: var(--form-container-height);
    width: var(--form-container-width);
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.legend-container {
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
}

.legend {
    width: var(--form-input-width);
    padding-top: 2%;
}

.legend-text {
    margin-left: 1vw;
    font-size: 20px;
    color: lightgreen;
}

.inputs {
    display: flex;
    flex-direction: column;
    column-gap: 4%;

    border-bottom: 2px solid white;
    padding-bottom: 4%;
}

fieldset {
    border: none;

}


.inputs-container {
    background-color: black;
    width: 40%;

    display: flex;
    flex-direction: row;
    gap: 8%;

}

.input-label {
    font-size: 18px;
    color: lightgreen;
}

.form-input {
    width: var(--form-input-width);
    height: 2vh;
    padding: 3%;
}

input:hover {
    border: 3px solid lightblue;
}

.first-name,
.last-name,
.email,
.phone,
.password,
.confirm-password {
    display: flex;
    flex-direction: column;

}

.submit-container {
    width: var(--form-input-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 1%;
    border: none;
}

.error {
    border: 1px solid red;
    ;
}

.error-message {
    color: red;
}

.submit-button {
    height: 5vh;
    width: var(--form-input-width);
    border-radius: 8px;
    background-color: lightgreen;
    font-weight: 600;
    padding-bottom: 2%;
}

.login {
    padding-top: 2%;
    margin-bottom: 0;
}